{% extends 'base.html.twig' %}
{% block content %}

        <div class="block accueil">
            <h1>{{ app.user.firstname }} {{ app.user.name }}</h1>
            <p>Vous êtes inscrit en tant que <strong>{{ app.user.roles[0] }}</strong> sur la plateforme</p>

            <h2>Actions :</h2>
            {% if is_granted('ROLE_TENANT') %}
            <a href="{{ path('showLocations') }}" class="user-infos">>Afficher mes locations</a>
            {% endif %}
            <br><a href="#" class="user-infos">>Supprimer mon compte</a>
            <br><a href="{{ path('login') }}" class="user-infos">>Déconnexion</a>
        </div>

        </div>
{% endblock %}
