{% extends 'admin/base.html.twig' %}

{% block body %}
    <h2>Administration Catégorie</h2>
    <h2>Ajouter Catégorie</h2>
    {{ form_start(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.submit) }}

    {{ form_end(form) }}

    {% for message in app.flashes('success') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="">Delete</a>
    {% endif %}
{% endblock body %}