{% extends 'base.html.twig' %}

{% block content %}

    {{ form_start(form) }}

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xs-12">

            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xs-12">
                {{ form_row(form.name, { 'attr': {'class': 'form-control'} }) }}
                {{ form_row(form.address, { 'attr': {'class': 'form-control'} }) }}
                <div class="form-row">
                    <div class="form-group col-md-6" style="margin-bottom: 0">
                        {{ form_row(form.zip_code, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group col-md-6" style="margin-bottom: 0">
                        {{ form_row(form.city, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                {{ form_row(form.country, { 'attr': {'class': 'form-control'} }) }}
                <label>Gabarit inventaire</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                               aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Sélectionner un fichier</label>
                    </div>
                </div>
                <label>Photo</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                               aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Sélectionner un fichier</label>
                    </div>
                </div>
                {{ form_row(form.submit, { 'attr': {'class': 'btn btn-success btn-update-infos'} }) }}
            </div>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}