{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form) }}

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-xs-12">
            <h2>Ajout d'un locataire</h2>
            {{ form_row(form.name, { 'attr': {'class': 'form-control'} }) }}
            {{ form_row(form.firstname, { 'attr': {'class': 'form-control'} }) }}
            {{ form_row(form.email, { 'attr': {'class': 'form-control'} }) }}
            {{ form_row(form.password, { 'attr': {'class': 'form-control'} }) }}
            <div class="form-group">
                <label for="exampleInputEmail1">Confirmation du mot de passe</label>
                <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            {{ form_row(form.address, { 'attr': {'class': 'form-control'} }) }}
            {{ form_row(form.submit, { 'attr': {'class': 'btn btn-success btn-update-infos'} }) }}
        </div>
    </div>
</div>

    {{ form_end(form) }}
{% endblock %}
