{% extends 'base.html.twig' %}

{% block content %}
    <div class="block_locataire">
        <h1 class="title-location">Gestion des locataires</h1>
        <a href="{{ path('ajoutLocataire') }}"><button type="button" class="btn btn-success btn-ajout">Nouveau locataire</button></a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nombre de locations</th>
                <th scope="col" style="width: 71rem;">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for users in users %}
                <tr>
                    <th scope="row">{{ users.id }}</th>
                    <td>{{ users.name }}</td>
                    <td>{{ users.firstname }}</td>
                    <td>0</td>
                    <td><button class="btn btn-secondary"><a href="{{ path('modificationLocataire', {id: users.id}) }}" class="link-update">Mettre à jour les données</a></button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}